@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  /* font type */
  font-family: "poppins";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

header {
  background-color: black;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* Syntax: [ <length> | <percentage> */
  padding: 5px 5%;
}

.Logo {
  color: bisque;
  /* remove line link */
  text-decoration: none;
  font-weight: 900;
  font-size: 1.8em;
  text-transform: uppercase;
}

.nevigation a {
  color: antiquewhite;
  font-weight: 500;
  font-size: 1.1em;
  padding-left: 30px;
  text-transform: uppercase;
  text-decoration: none;

}

.nevigation a:hover {

   color: blueviolet;
}
section.main {
  display: flex;
}

.image-container {
  flex: 1;
  text-align: right; /* Align the image to the right */
}

.header-image {
  width: 100%;
  height: auto;
  display: block;
  height: 100vh;
}

.content-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; /* Adjust as needed */
  padding: 100px 5%;
}

.content-container h2 {
  font-size: 2.5em;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center; /* Center the text */
}

.content-container h3 {
  color: rgb(0, 16, 240);
  letter-spacing: 1px;
  margin-top: 10px;
  text-align: center; /* Center the text */
}